<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ENTER.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{213,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,65}}</string>
                <key>sourceSize</key>
                <string>{213,65}</string>
            </dict>
            <key>esc.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,423},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>home_img2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{360,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{360,76}}</string>
                <key>sourceSize</key>
                <string>{362,76}</string>
            </dict>
            <key>home_img3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,76}}</string>
                <key>sourceSize</key>
                <string>{360,76}</string>
            </dict>
            <key>join_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,72},{140,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{140,68}}</string>
                <key>sourceSize</key>
                <string>{170,84}</string>
            </dict>
            <key>join_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,211},{140,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,17},{140,67}}</string>
                <key>sourceSize</key>
                <string>{188,97}</string>
            </dict>
            <key>join_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,211},{140,67}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{140,67}}</string>
                <key>sourceSize</key>
                <string>{170,89}</string>
            </dict>
            <key>join_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,353},{139,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{139,68}}</string>
                <key>sourceSize</key>
                <string>{183,94}</string>
            </dict>
            <key>join_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{140,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{140,68}}</string>
                <key>sourceSize</key>
                <string>{170,92}</string>
            </dict>
            <key>join_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{139,68}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{139,68}}</string>
                <key>sourceSize</key>
                <string>{185,94}</string>
            </dict>
            <key>join_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,211},{140,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{140,67}}</string>
                <key>sourceSize</key>
                <string>{180,97}</string>
            </dict>
            <key>join_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,142},{140,67}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{140,67}}</string>
                <key>sourceSize</key>
                <string>{186,91}</string>
            </dict>
            <key>join_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,211},{139,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{139,66}}</string>
                <key>sourceSize</key>
                <string>{165,88}</string>
            </dict>
            <key>join_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,211},{140,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{140,66}}</string>
                <key>sourceSize</key>
                <string>{180,86}</string>
            </dict>
            <key>join_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,353},{139,67}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{139,67}}</string>
                <key>sourceSize</key>
                <string>{155,83}</string>
            </dict>
            <key>join_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,353},{140,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{140,66}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMode.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26bac0093d5ea6f27204fc556f251981$</string>
            <key>textureFileName</key>
            <string>GameMode.png</string>
        </dict>
    </dict>
</plist>
